<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Collection</title>
</head>

<body>
    <h1>Edit Collection Page</h1>
    <p>Edit collection name and description</p>
    <form action="/collections/<%=collection._id%>?_method=PUT" method="POST">
        <input type="text" name="title" value="<%= collection.title %>">
        <input type="text" name="description" value="<%= collection.description %>">
        <input type="text" name="games" placeholder="(temporary) provide a game id">
        <input type="text" name="games" placeholder="(temporary) provide a game id">
        <input type="text" name="games" placeholder="(temporary) provide a game id">
        <input type="text" name="games" placeholder="(temporary) provide a game id">
        <input type="submit" value="Edit collection">
    </form>

</body>

</html>