<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Page</title>
</head>

<body>
    <h1>Main Games Page</h1>
    <% for (let i = 0; i < game.length; i++) { %>
    <img src="<%= game[i].background_image %>" style="width:300px;"/>
    <p><%= game[i].name %></p>
    <p><%= game[i].released %></p>
    <p><%= game[i].rating %></p>
    <% } %>

</body>

</html>