@import url("https://fonts.googleapis.com/css2?family=Italiana&family=M+PLUS+Rounded+1c:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

/* -------------------------------- */
/* -------- PSUEDO-ELEMENTS ------- */
/* -------------------------------- */

::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(122, 121, 121, 0.8);
  border-radius: 8px;
  transition: all 0.3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
  transition: all 0.3s ease-in;
  background-color: rgba(97, 96, 96, 0.8);
}

/* --- */

body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(15, 15, 15);
}

/* -------------------------------- */
/* ------------ HEADER ------------ */
/* -------------------------------- */

header {
  color: white;
  box-shadow: 1px 9px 7px -4px rgba(0, 0, 0, 0.7);
  position: relative;
  height: 50px;
}

.nav-a {
  position: absolute;
  top: 10px;
  left: 10px;
  width: auto;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  background-color: rgba(32, 32, 32, 0.8);
  border: none;
  border-radius: 8px;
}

.nav-a:hover {
  text-decoration: none;
}

/* -------------------------------- */
/* ----------- SIDE-NAV ----------- */
/* -------------------------------- */

#sidebar {
  margin-left: -250px;
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(90, 90, 90);
  color: #fff;
  z-index: 9999;
  transition: all 0.3s ease-in;
  text-align: left;
}

#sidebar.active {
  margin-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
}

#sidebar .sidebar-header {
  padding: 10px;
  background: rgb(70, 69, 69);
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: rgba(64, 64, 64, 0.8);
  background: #fff;
  transition: all 0.3s ease-in;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: rgba(64, 64, 64, 0.8);
  background-color: white;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  margin-top: 3px;
}

ul ul a {
  font-size: 14px!important;
  padding-left: 20px!important;
  background-color: transparent;
  font-weight: 500;
}

#dismissSidebar {
    position: relative;
    top: 4px;
    left: 10px;
    width: auto;
    height: 30px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 8px;
}

/* -------------------------------- */
/* ------------- BODY ------------- */
/* -------------------------------- */

.logo {
  font-size: 20px;
  font-family: "Ubuntu", cursive;
  font-weight: 400;
  text-align: center;
}

.logo-title {
  color: white;
  font-size: 18px;
}

.logo-img {
  width: 45px;
  height: 45px;
}

.nav-menu {
  color: white;
  font-size: 26px;
}

.nav-a {
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-a:hover {
  text-decoration: none;
}

.body-title {
  text-align: center;
  margin-top: 10px;
}

.body-head-container {
  color: white;
}

.genre-desc-title {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.genre-desc {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.genre-btn-forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: -10px;
  font-size: 14px;
}

.genre-btn {
  border: 1px solid white;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  width: auto;
  padding: 0 15px;
  margin-right: 10px;
  margin-top: 15px;
}

.genre-btn:focus {
  background-color: rgba(146, 146, 146, 0.63);
  color: rgb(54, 54, 54);
  transition: all 0.2s ease-in;
}

.card {
  margin: 0 auto;
  width: 300px;
  background-color: #616161;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
}

.card-body {
  position: relative;
}

.card-title {
  text-decoration: none;
  color: white;
}

.card-title:hover {
  text-decoration: none;
  color: rgba(197, 196, 196, 0.9);
}

.card-title h4 {
  margin-bottom: 20px;
  width: 200px;
  font-size: 22px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.image {
  border-radius: 8px;
  box-shadow: 1px 6px 6px -3px rgba(0, 0, 0, 0.5);
}

.release-text {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.release-date {
  font-size: 14px;
  font-weight: 400;
}

hr {
  margin-top: -15px;
  border-top: 1px solid rgba(65, 65, 65, 0.8);
}

.genre-text {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.genre-names {
  font-size: 14px;
  font-weight: 400;
}

.platform-text {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.platform-list {
  font-size: 14px;
  font-weight: 400;
}

.heart-link {
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  background-color: rgb(85, 85, 85);
}

.heart-link:hover,
.heart-link:focus {
  color: white;
  text-decoration: none;
}

.heart-icon {
  color: white;
}

.dropdown-line {
  width: 80%;
  margin: 0 auto;
}

.fa-check {
  color: green;
  float: right;
}

.metacritic {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 0 8px;
}

@media (min-width: 667px) {
  body {
    text-align: center;
    width: 100%!important;
    margin: 0 auto;
  }

  .wrapper {
    text-align: center;
    margin: 0 auto;
  }

  .body-head-container {
    text-align: center;
    margin: 0 auto;
  }

  .image {
    height: 200px;
  }

  .genre-btn-forms {
    width: 50%;
    font-size: 15px;
  }

  .genre-btn {
    margin-right: 20px;
    margin-top: 20px;
  }

  .card-deck {
    display: inline-flex;
    width: 21em;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .nav-a {
    opacity: 0;
  }

  .wrapper {
    width: 90%!important;
    margin-left: 120px;
  }

  header {
    display: none;
  }

#dismissSidebar {
  display: none;
}

#sidebar {
    min-width: 240px;
    max-width: 240px;
    background-color: transparent;
    color: #fff;
    transition: all 0.4s ease-in;
    margin-left: 0;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul li {
  margin-bottom: 20px;
}

#sidebar .sidebar-header {
    padding-top: 10px;
    padding-bottom: 6px;
    padding-right: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}

#sidebar ul li a {
    padding-left: 15px;
    font-weight: 500;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: rgba(64, 64, 64, 0.8);
}

.dropdown-toggle::after {
  margin: 0 auto;
  margin-top: 5px;
}

ul ul a {
    font-size: 15px!important;
}

ul ul a:last-child {
  margin-bottom: -15px!important;
}

.genre-desc-title {
  font-size: 18px;
}

  .card-container {
    width: 85%;
    margin: 0 auto;
  }

  .image {
    height: 200px;
  }

  .genre-btn-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 16px;
  }

  .genre-btn {
    margin-right: 20px;
    margin-top: 20px;
    font-weight: 500;
  }

  .genre-btn:hover,
  .genre-btn:active {
    background-color: rgba(197, 196, 196, 0.9);
    color: rgba(64, 64, 64, 0.8);
  }

  .card-title {
    width: 250px;
    font-size: 22px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
}


@media (min-width: 1600px) {

  .wrapper {
    margin-right: 50px;
  }

#sidebar {
    min-width: 250px;
    max-width: 250px;
    text-align: left;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    padding-left: 15px;
}


a[data-toggle="collapse"] {
    position: relative;
}


ul ul a {
    font-size: 15px!important;
    background-color: transparent;
    font-weight: 500;
}

  .genre-btn-forms {
    width: 40%;
    margin-bottom: 15px;
    margin-top: 10px;
  }
}
