@import url("https://fonts.googleapis.com/css2?family=Italiana&family=M+PLUS+Rounded+1c:wght@300;400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border: 1px solid rgba(128, 128, 128, 0.7);
  border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(122, 121, 121, 0.8);
  border-radius: 8px;
  transition: all 0.3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
  transition: all 0.3s ease-in;
  background-color: rgba(97, 96, 96, 0.8);
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(15, 15, 15);
  color:  white;
}

header {
  color: white;
  box-shadow: 1px 9px 7px -4px rgba(0, 0, 0, 0.5);
  background-color: rgba(15, 15, 15, 0.5);
  position: relative;
  border-radius: 8px;
}

.logo {
  font-size: 20px;
  font-family: "Ubuntu", cursive;
  font-weight: 400;
  text-align: center;
}

.logo-title {
  color: white;
  font-size: 18px;
}

.logo-img {
  width: 45px;
  height: 45px;
}

.nav-menu {
  color: white;
  font-size: 26px;
}

.nav-a {
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-a:hover {
  text-decoration: none;
}

.background-img {
  width: 100%;
  position: absolute;
  opacity: 0.15;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 1px 14px 6px -5px rgba(0,0,0,0.8);
  z-index: -1;
}

.body-head-container {
  width: 100%;
  position: relative;
}

.container {
  width: 475px;
  display: flex;
  margin-top: 75px;
}

.age-rating {
  display: table;
  width: 100px;
  height: 25px;
  margin-left: auto;
  margin-right: 0;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  border-radius: 8px;
  /* border: 1px solid white; */
  /* background-color: rgba(218, 218, 218, 0.15); */
  user-select: none;
  font-size: 14px;
}

.active-mature {
  border: 2px solid rgba(128, 2, 2, 0.5);
  background-color: rgba(212, 1, 1, 0.15);
}

.active-teen {
  border: 2px solid rgba(204, 204, 2, 0.5);
  background-color: rgba(255, 255, 0, 0.15);
}

.active-everyone {
  border: 2px solid rgba(0, 128, 0, 0.5);
  background-color: rgba(0, 128, 0, 0.15);
}

.age {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.released {
  display: table;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  background-color: rgba(218, 218, 218, 0.15);
  user-select: none;
  font-size: 14px;
  width: 100px;
  height: 25px;
  margin-right: auto;
  margin-left: 0;
}

.release-date {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.body-title {
  font-size: 38px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-top: 5px;
}

.screenshot-container {
  height: 200px;
  width: 95%;
  overflow-x: scroll;
  padding: 10px;
  white-space: nowrap;
  margin: 0 auto;
}

.screenshots {
  display: inline-block;
  height: 100%;
  width: 300px;
  margin-right: -10px;
}

.screenshots img {
  height: 150px;
  width: 275px;
  border-radius: 8px;
  transition: transforms 0.25s ease;
}

.body-content {
  width: 100%;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.collection-button {
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.3s ease-out;
}

.collection-button:hover,
.hearcollection-button:focus {
  transition: all 0.3s ease-in;
  color: white;
  text-decoration: none;
  background-color: rgba(85, 85, 85, 0.25)!important;
  border: none!important;
  box-shadow: none!important;
}

.collection-button span {
  color: rgba(88, 88, 88, 0.8);
  font-weight: 500;
}

.dropdown-line {
  width: 80%;
  margin: 0 auto;
}

.fa-check {
  color: green;
  float: right;
}

.rating-container {
  text-align: center;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating-text {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0,128,0,0.6);
}

.rating {
  color: #5CB145;
  border: 1px solid rgba(92, 177, 69, 0.8);
  border-radius: 8px;
  width: 50px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-count {
  color: rgba(64, 64, 64, 0.7);
  font-weight: 500;
}

.rating-count span {
  color: rgba(64, 64, 64, 0.8);
  font-weight: 600;
}

.review-btn-container {
  width: 95%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.review-btn {
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  background-color: transparent;
  color: white;
  height: 45px;
  width: 475px;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  transition: all 0.3s ease-out;
}

.review-btn:focus,
.review-btn:hover {
  transition: all 0.3s ease-in;
  background-color: rgba(214, 210, 210, 0.55);
}

.add-btn {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  position: relative;
  height: 45px;
  font-weight: 500;
}

.review-btn span {
  position: absolute;
  right: 125px;
  font-size: 38px;
  height: 20px;
  line-height: 20px;
  color: rgba(85, 85, 85, 0.8);
  font-weight: 400!important;
}

.review-btn:hover span, 
.review-btn:focus span {
  transition: all 0.3s ease-in;
  color: rgba(37, 37, 37);
}

.review-btn:hover button,
.review-btn:focus button {
  transition: all 0.3s ease-in;
  color: rgba(53, 53, 53, 0.9);
}

.about-game {
  max-width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}

.about-game > h3 {
  font-size: 24px;
}

.description {
  font-size: 14px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  line-height: 24px;
  margin-bottom: 10px;
}

.description .active {
  overflow: "";
  text-overflow: "";
  display: -webkit-box;
  -webkit-line-clamp: 50;
  -webkit-box-orient: vertical;
}

.desc-full {
  font-size: 14px;
  line-height: 24px;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 100;
  -webkit-box-orient: vertical;
}

#short-desc-container {
  display: block;
}

#long-desc-container {
  display: none;
}

.about-game > button {
  border: 1px solid white;
  background-color: rgb(218, 218, 218);
  padding: 0 10px;
  font-size: 12px;
  margin-top: -15px;
}

.about-game > button:hover,
.about-game > button:focus {
  transition: all 0.3s ease-in;
  background-color: rgb(146, 145, 145);
  box-shadow: none;
}

.extra-data {
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  font-size: 14px;
}

.data-box {
  width: 45%;
  text-align: left;
  margin-right: 5%;
}

.extra-data h5 {
  font-size: 14px;
  color: rgba(75, 74, 74, 0.8);
}

.tags {
  width: 100%;
}

.stores {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.website {
  width: 100%;
}

.reddit {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (min-width: 801px) {
  .about-game {
    width: 70%;
  }
}